@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
header, .hello, .skills, .education, .portfolio, .contact {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 55px 60px 30px 60px;
}

.skills div:first-child, .education div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p, h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.line {
  border-bottom: 1px solid #c9c9c9;
}

.point {
  font-weight: 500;
  font-size: 1.5rem;
}

.point:after {
  content: ".";
  color: #00a13b;
}

.mark {
  width: 150px;
  margin-top: 40px;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
}

header {
  padding: 30px 60px 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav li {
  border-bottom: 1px solid transparent;
  margin-right: 40px;
}

header .nav li:last-child {
  margin-right: 100px;
}

header .nav li a:hover {
  border-bottom: 1px solid #00a13b;
  color: #00a13b;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

.hello .picture {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.hello .picture img {
  height: 400px;
}

.description {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.description .info .names {
  font-weight: 500;
}

.description .info .names li {
  line-height: 40px;
  margin-right: 50px;
}

.description .info .values li {
  line-height: 40px;
}

.description .info .values .socials img {
  width: 20px;
  margin-right: 15px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills div:first-child {
  margin-right: 100px;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 100px;
}

.education .establishments {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education .establishments div {
  max-width: 340px;
  width: 100%;
}

.education .establishments div:nth-child(2n+1) {
  margin-right: 20px;
}

.education .establishments div:nth-child(-n +2) {
  border-bottom: 1px solid #e2e2e2;
}

.portfolio .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .filters .filter {
  margin-right: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
}

.portfolio .filters .filter:hover {
  border-bottom: 1px solid #00a13b;
  color: #00a13b;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio .filters .filter.active {
  color: #00a13b;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 100px;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  margin-right: 15px;
  margin-bottom: 20px;
}

.projects .project a {
  height: 300px;
  max-width: 250px;
  width: 100%;
}

.projects .project h4 {
  margin-top: 15px;
  text-align: center;
}

.projects .project div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 250px;
  max-width: 250px;
  border: 1px solid green;
  margin-right: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact div:first-child {
  margin-right: 100px;
}

.contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .info .names {
  font-weight: 500;
}

.contact .info .names li {
  line-height: 40px;
  margin-right: 50px;
}

.contact .info .values li {
  line-height: 40px;
  cursor: pointer;
}

.copyright {
  background-color: #c9c9c9;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  font-size: .8rem;
  color: gray;
}
/*# sourceMappingURL=style.css.map */