@media all and (max-width: 1150px) {
    .container div {
        height: 200px !important;
    }
}

@media all and (max-width: 975px) {
    .projects {
        padding: 0 50px !important;
        .project {
            width: 45%;
        }
    }

    .nav {
        display: none !important;
    }

    .sidebar {
        display: flex !important;
    }
    .nav-menu-open, .nav-menu-close {
        display: block !important;
    }
}

@media all and (max-width: 750px) {
    %content {
        padding: 55px 30px 30px 30px !important;
    }

    .hello {
        @extend %content;
        flex-direction: column;
        align-items: center;
    }

    .skills {
        @extend %content;
        > div:first-child {
            flex-direction: column;

            div:first-child {
                margin-right: 0 !important;
            }
            div:nth-child(n + 2) {
                margin-left: 0;
            }
        }
    }

    .education {
        @extend %content;
        > div:first-child {
            flex-direction: column;
        }
    }

    .portfolio {
        @extend %content;
    }

    .contact {
        @extend %content;
        > div:first-child {
            flex-direction: column;
        }
    }

    .mark {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media all and (max-width: 675px) {
    .projects {
        padding: 0 20px !important;
        .container div {
            height: 170px !important;
        }
    }
}

@media all and (max-width: 575px) {
    .project {
        width: 90% !important;
        .container div {
            height: 200px !important;
        }
    }
}

@media all and (max-width: 500px) {
    .education {
        .establishments div{
            width: 90%;
            &:nth-child(-n + 3) {
                border-bottom: 1px solid rgb(226, 226, 226);
                padding-bottom: 10px;
            }
        }
    }

    .filters {
        flex-direction: column;
        align-items: center;
    }

    .info .names li{
        margin-right: 20px !important;
    }

    .sidebar {
        width: 100vw;
    }
}

@media all and (max-width: 350px) {
    * {
        font-size: 14px;
    }
    .project .container div {
        height: 150px !important;
    }
}
